:root {
  --color-white: white;
  --color-golden-brown-01: #ffcc47;
  --color-golden-brown-02: #fff;

}

/* container */
body {
  background-color: var(--color-golden-brown-01);
}

.container {
  background-color: var(--color-white);
  height: 100%;
  max-width: 400px;
}

/* index.html */
#tagline {
  font-style: italic;
  font-family: monospace;
  margin-bottom: 100px;
}
.btn {
  max-width: 200px;
  margin: 10px 100px;
  display: block;
  background: var(--color-brown-02);
  color: var(--color-golden-brown-01);
  font-weight: bolder;
  outline: none !important;
  box-shadow: none !important;
}

.btn:focus {
  outline: none !important;
}

/* profile.html */
.name {
  text-align: center;
  font-weight: bolder;
}

/* contacts */
.contacts {
  text-align: center;
}
